<!DOCTYPE HTML>
<html lang="en">
  <head>
    <%= render '/head.*' %>
    <meta name="robots" content="noindex">
    <link rel="canonical" href="<%= @config[:base_url] %>/404.html">
    <script src="<%= @items['/frontend/404/archives_redirect.*'].path %>"></script>
    <script>
      // Temporary handling for redirecting _index.html to index.html
      document.addEventListener('DOMContentLoaded', async () => {
        const path = window.location.pathname;
        if (path.endsWith('_index.html')) {
          window.location.replace(path.replace('_index.html', 'index.html'));
        }
      });
    </script>

  </head>
  <body data-elastic-exclude>
    <%= render '/header.*' %>
    <section class="container-fluid">
      <div class="row">
        <div class="col-12 gl-h-100vh gl-display-flex gl-flex-direction-column">
          <main class="gl-mt-5 gl-flex-grow-1 gl-flex-shrink-0"><%= yield %></main>
          <%= render '/footer.*' %>
        </div>
      </div>
    </section>

  <%# Add analytics only in production %>
  <%= render '/analytics.*' %>
  </body>
</html>
