<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-US" lang="en-US" prefix="og: http://ogp.me/ns#" class="search-results">
  <head>
    <%= render '/head.*' %>
    <link rel="canonical" href="<%= @config[:base_url] %>/search/">
  </head>
  <body>
    <%= render '/header.*' %>
    <section class="gl-docs container">
      <div class="row">
        <div class="col-12">
          <div class="main class pl-lg-4">
            <% if @config[:search_backend] == "elastic" %>
            <div class="js-elastic-search"></div>
            <% else %>
            <div class="js-lunrsearch"></div>
            <% end %>
            <%= render '/footer.*' %>
          </div>
        </div>
      </div>
    </section>
    <script src="/assets/vendor/vue.min.js"></script>
    <script src="/assets/vendor/jquery.slim.min.js"></script>
    <% if @config[:search_backend] == "elastic" %>
    <script src="<%= @items['/frontend/search/elastic_results.*'].path %>"></script>
    <% else %>
    <script src="/assets/vendor/lunr.min.js"></script>
    <script src="<%= @items['/frontend/search/lunrsearch.*'].path %>"></script>
    <% end %>
    <script src="<%= @items['/frontend/header/index.*'].path %>"></script>

    <%# Add analytics only in production %>
    <%= render '/analytics.*' %>
  </body>
</html>
